.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.logo-box {
    height: 60px;
    margin-right: 0.5rem;
}

.header-actions .btn {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.header-actions .btn-primary {
    background-color: var(--primary-color);
    border: none;
}

.header-actions .btn:hover,
.header-actions .btn-primary:hover {
    opacity: 0.8;
}
